/* 
   The below CSS file was built using samples + techniques described by Rachel Andrew in her book:
   The CSS Anthology: 101 Essential Tips, Tricks & Hacks
*/

/* Overall Page */

body {
	margin: 0;
	padding-bottom: 2em;
	background-color: #202020;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;

}

/* Header Section */

#header {
	background-color: #000;
	height: 4.5em;
    width: 980px;
    margin: 0 auto;
}
#header .title {
	font: 190% Arial, Helvetica, Georgia, "Times New Roman", Times, serif;
	color: white;
	background-color: transparent;
	float: left;
	margin-right: 2em;

	margin-left: .8em;
	width: 100%;
	font-weight:bold;
    display: inline;
}
#header img{
    width: 50px;
    height: 50px;
    margin: 5px;
}
#header .breadcrumb {
	font-family: Open Sans;
	color: #cbcbcb;
	background-color: transparent;
	float: right;
	margin-right: 2em;
	margin-top: 0.8em;
	font-weight:bold;
}

#header a:link, a:visited  {
	color: #cbcbcb;
}


/* Navigation */

#navigation {
	width: 200px;
	top: 5em;
	left: 1em;
	width: 13em;	
	position:absolute;
	font-family: Open Sans;
    font-weight: 400;
}
#navigation ul {
	list-style: none;
	margin: 0px;
	padding: 0;
}


#navigation li {
	border: 5px solid #000;
}
#navigation li a  {
	display: block;
	padding: 5px 0px 5px 0.5em;
	background-color: #000;
	color: white;
	text-decoration: none;
}
#navigation li a:hover {
	background-color: #f6f6f6;
	color: #000000;
}
#navigation ul ul {

}
#navigation ul ul li {
	margin:0;
}
#navigation ul ul a:link, #navigation ul ul a:visited {
	background-color: #000;
	color: #FFFFFF;
}
#navigation ul ul a:hover {
	background-color: #f6f6f6;
	color: #000000;
}

/* Main Content */

#content 
{
    color: #cbcbcb;
	margin-top: 3em;
	margin-left: 16em;
	margin-right: 2em;
}

#content p {
	font-size: 80%;
	line-height: 1.6em; 
}

#content ul {
	font-size: 80%;
	line-height: 1.6em; 
}
.nowosci_film{
    min-height: 260px;
    padding-left: 220px;
    position:relative;

}
.nowosci_film img {
    left: 0;
    position:absolute;
    width: 200px;
    height: 250px;
}
h1{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}
.nowosci_film h3 {
    display: block;
    padding-top: 10px;
    font-size: 25px;
}
.nowosci_film p {
    font-size: 16px !important;
    line-height: 1.2em !important;
    padding-left: 20px;
}
.nowosci_film p.data{
padding-left: 40px;
font-size: 14px !important;
padding-top: 4px;
font-style: italic;
}


